<%= link_to 'portfolio', '#' %>
<nav>
  <ul>
    <li><%= link_to 'お知らせ', '#' %></li>
    <li><%= link_to 'Top', '#' %></li>
    <li><%= link_to 'マイページ', '#' %></li>
    <li><%= link_to '閲覧履歴', '#' %></li>
    <li><%= link_to 'メッセージ', '#' %></li>
    <li><%= link_to 'お気に入り', '#' %></li>
  </ul>
</nav>